* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.backgroundHeader {
    height: 70vh;
    width: 100%;
}

.TopBar {
    float: left;
    width: calc(100% / 3);
}

header:nth-child(2) {
    width: 80%;
    height: 70vh;
    margin: auto;
}
